<div class="row">
    <div class="jumbotron bg-primary text-secondary">
        <h1 class="display-4">Progressive Web Applications</h1>
        <p class="lead">Progressive web applications are the future of web development. 
            While they may not be able to replace traditional mobile applications yet, they are definitely the extention of
            a web application. 
        </p>
        <hr class="my-4">
        <p class="lead">This is an Angular 6 based PWA.</p>
        <a class="btn btn-outline-secondary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>
<h2 class="text-secondary">How to?</h2>
<hr class="my-4">
<div class="row">
    <div class="card-deck">
        <div class="card bg-secondary text-primary">
            <div class="card-body">
                <h3 class="card-title">Introduction</h3>
                <p class="card-text">Introduction to progressive web applications. Learn what are PWAs and how they are the future of web-development</p>
                <a class="btn btn-sm btn-outline-primary" href="articles/how-to/1">Learn more</a>
            </div>
        </div>
        <div class="card bg-secondary text-primary">
            <div class="card-body">
                <h3 class="card-title">How to build it?</h3>
                <p class="card-text">Learn how to build the best PWAs using angular or any other framework. Learn how to configure each phase and build the best PWAs.</p>
                <a class="btn btn-sm btn-outline-primary" href="articles/how-to/2">Learn more</a>
            </div>
        </div>
        <div class="card bg-secondary text-primary">
            <div class="card-body">
                <h3 class="card-title">Best practices</h3>
                <p class="card-text">Learn the best practices from industry experts and get to know how to handle every issue that comes up through the Pridock way.</p>
                <a class="btn btn-sm btn-outline-primary" href="articles/how-to/3">Learn more</a>
            </div>
        </div>
    </div>
</div>
<h2 class="text-secondary">Performance</h2>
<hr class="my-4">
<div class="row">
        <div class="card-deck">
                <div class="card bg-secondary text-primary">
                    <div class="card-body">
                        <h3 class="card-title">Interface</h3>
                        <p class="card-text">See how you can smoothly move between pages just like a native application</p>
                        <a class="btn btn-sm btn-outline-primary" href="articles/performance/1">Learn more</a>
                    </div>
                </div>
                <div class="card bg-secondary text-primary">
                    <div class="card-body">
                        <h3 class="card-title">PWAs score high on SEO</h3>
                        <p class="card-text">Top PWAs score over 85% on SEO</p>
                        <a class="btn btn-sm btn-outline-primary" href="articles/performance/2">Learn more</a>
                    </div>
                </div>
                <div class="card bg-secondary text-primary">
                        <div class="card-body">
                            <h3 class="card-title">Current State of PWAs</h3>
                            <p class="card-text">PWAs seem to be the modern standard for building applications. With trends changing what should you be aware of?</p>
                            <a class="btn btn-sm btn-outline-primary" href="articles/performance/3">Learn more</a>
                        </div>
                </div>
        </div>        
</div>