nav{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.12em;
  font-weight: 500;
}
.fa, .fas{
  color: #f79707;
}

.dropdown-menu{
  background-color: #f79707;
}

.dropdown-item:hover, .dropdown-item:focus{
  background-color: #252525;
  color: #f79707;
}

.modal-header{
  color: black;
}

.modal-button{
  margin: 0.25em;
}