<nav class="navbar navbar-expand-lg navbar-primary bg-secondary">
  <div class="container">
      <a class="navbar-brand" href="#">Pridock's Progressive Web App</a>
      <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span><i class="fas fa-bars"></i></span>
        </button>
        <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/"><i class="fas fa-home"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="id01" (click)="openLoginModal(content)"><i class="fas fa-user-circle"></i></a>
            </li>
          </ul>
        </div> 
  </div>
  <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-body">
          <ngb-tabset>
              <ngb-tab id="tab-login">
                <ng-template ngbTabTitle><h4>Login</h4></ng-template>
                <ng-template ngbTabContent>
                    <form>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary mr-1 mt-2">Submit</button>
                        <button type="button" class="btn btn-outline-secondary ml-1 mt-2" (click)="c('Close click')">Close</button>
                      </form>
                </ng-template>
              </ngb-tab>
              <ngb-tab id="tab-register">
                  <ng-template ngbTabTitle><h4>Register</h4></ng-template>
                  <ng-template ngbTabContent>
                      <form>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                          </div>
                          <div class="form-group">
                              <label for="Verify">Verify</label>
                              <input type="password" class="form-control" id="Verify" placeholder="Password">
                            </div>
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                          </div>
                          <button type="submit" class="btn btn-primary mr-1 mt-2">Submit</button>
                          <button type="button" class="btn btn-outline-secondary ml-1 mt-2" (click)="c('Close click')">Close</button>
                        </form>
                  </ng-template>
                </ngb-tab>
          </ngb-tabset>
      </div>
  </ng-template>
</nav>