<a href="/"><i class="fas fa-arrow-left"></i> Back</a>
<h2 class="display-3">{{article.title}}</h2>
<hr class="my-3">
<p class="lead">{{article.content}}</p>
<footer class="blockquote-footer">{{article.author}} <cite title="Source Title">{{article.source}}</cite></footer>