/* You can add global styles to this file, and also import other style files */
$theme-colors: (
  "primary": #f79707,
  "secondary": #252525,
  "danger": #ff4136
);

@import "~bootstrap/scss/bootstrap.scss";

html, body{
  min-height: 100%;
  height: 100%;
}

#loader{
  background-color: #f79707;
  height: 100%;
  width: 100%;
}